* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 30px;
    background-color: blueviolet;
    color: white;
}

main {
    padding: 36px;
}
.logo {
    width: 40px;
    margin-right: 5px;
}

.header-title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header-txt {
    font-size: 0.90rem;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form-btn {
    grid-column: 1 / -1;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}

.meme-image {
    width: 100%;
    padding: 40px ;
}

.meme {
    position: relative;

}

.top-txt {
    position: absolute;
}

.bottom-txt {
    position: absolute;
}