* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

nav > h3 {
  margin-right: auto;
  color: #61DAFB;
  font-size: 22px;
}

nav > h4 {
  color: #DEEBF8;
  font-weight: 600;
}

img {
  width: 40px;
  margin-right: 5px;
}

main {
  padding: 57px 27px;
  color: white;
}

h1 {
  margin: 0;
  font-size: 30px;
  letter-spacing: -0.05em;
}

ul > li {
  padding-block: 8px;
}

ul li::marker {
  color: #61DAFB;
  font-size: 1.4em;
}
